<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header" class="alt" th:fragment="common-header" style="background: #444">
        <h1><a href="/">스프링 부트</a> version 3.1.2</h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">Layouts</a>
                    <ul>
                        <li><a th:href="${commonUrls.JOIN_URI}">회원가입</a></li>
                        <li><a href="/board">게시판</a></li>
                        <li><a href="/elements">요소</a></li>
                        <li>
                            <a href="#">서브메뉴</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/join" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
