<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header id="header" class="alt" th:fragment="common-header">
        <h1><a href="/">스프링 부트</a> version 3.1.2</h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#" class="icon solid fa-angle-down">Layouts</a>
                    <ul>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="/elements">Elements</a></li>
                        <li>
                            <a href="#">Submenu</a>
                            <ul>
                                <li><a href="#">Option One</a></li>
                                <li><a href="#">Option Two</a></li>
                                <li><a href="#">Option Three</a></li>
                                <li><a href="#">Option Four</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/join" class="button">Sign Up</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
