<!DOCTYPE HTML>
<html>
	<head>
		<title>회원가입</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body class="is-preload">
	<div id="page-wrapper">
		<div th:replace="common/header/header :: common-header"></div>
			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>회원가입</h2>
					</header>
					<div class="box" style="width:65%; position:relative; left: 200px;">
						<form>
							<div class="row gtr-uniform gtr-50">
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-Id" placeholder="아이디" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-Password" placeholder="비밀번호" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-password-check" placeholder="비밀번호 확인" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-PhoneNumber" placeholder="전화번호" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-Email" placeholder="이메일" />
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="button" value="가입하기" class="joinProgressBtn"/></li>
										<li><input type="reset" value="취소" class="alt" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>
				<!-- Footer -->
				<div th:replace="common/footer/footer :: common-footer"></div>	
		</div>
	</div>
		<!-- Scripts -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.dropotron.min.js}"></script>
		<script th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script th:src="@{/js/browser.min.js}"></script>
		<script th:src="@{/js/breakpoints.min.js}"></script>
		<script th:src="@{/js/util.js}"></script>
		<script th:src="@{/js/main.js}"></script>

	</body>
	<script>
		var joinId = $(".join-Id");
		var joinPassword = $(".join-Password");
		var joinPhoneNumber = $(".join-PhoneNumber");
		var joinEmail = $(".join-Email");

		$(document).ready(function(){
			
			$(".joinProgressBtn").click(function(){

				console.log("joinId = " + joinId.val());
				console.log("joinPassword = " + joinPassword.val());
				console.log("joinPhoneNumber = " + joinPhoneNumber.val());
				console.log("joinEmail = " + joinEmail.val());

				var joinModel = {
					"joinId" : joinId.val(),
					"joinPassword" : joinPassword.val(),
					"joinPhoneNumber" : joinPhoneNumber.val(),
					"joinEmail" : joinEmail.val()
				};

				$.ajax({
					url:"/join/process",
					type:"POST",
					data: JSON.stringify(joinModel),
					contentType: "application/json",
					success: function(result) {
						alert("성공");
					},
					error: function() {
						alert("ERROR");
					}
				});

			});

			
			



		});


	</script>
</html>