<!DOCTYPE HTML>
<html>
	<head>
		<title>회원가입</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body class="is-preload">
	<div id="page-wrapper">
		<div th:replace="common/header/header :: common-header"></div>
			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>회원가입</h2>
					</header>
					<div class="box" style="width:65%; position:relative; left: 200px;">
						<form>
							<div class="row gtr-uniform gtr-50">
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-Id" onBlur="progressCheckId()" placeholder="아이디" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="password" class="join-Password" placeholder="비밀번호 8자 이상 20자 이하" maxlength="20" onBlur="passwordValidate()"/>
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="password" class="join-password-check" placeholder="비밀번호 확인" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-PhoneNumber" placeholder="전화번호" />
								</div>
								<div class="col-6 col-12-mobilep" style="width: 100%">
									<input type="text" class="join-Email" placeholder="이메일" />
								</div>
								<div class="col-12">
									<ul class="actions">
										<li><input type="button" value="가입하기" class="joinProgressBtn"/></li>
										<li><input type="button" value="취소" class="joinCancel" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</section>
				<!-- Footer -->
				<div th:replace="common/footer/footer :: common-footer"></div>	
		</div>
	</div>
		<!-- Scripts -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/jquery.dropotron.min.js}"></script>
		<script th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script th:src="@{/js/browser.min.js}"></script>
		<script th:src="@{/js/breakpoints.min.js}"></script>
		<script th:src="@{/js/util.js}"></script>
		<script th:src="@{/js/main.js}"></script>

	</body>
	<script th:inline="javascript">
		
		var joinId = $(".join-Id");
		var joinPassword = $(".join-Password");
		var joinPhoneNumber = $(".join-PhoneNumber");
		var joinEmail = $(".join-Email");

		$(document).ready(function(){
			
			$(".joinProgressBtn").click(function(){

				var joinModel = {
					"joinId" : joinId.val(),
					"joinPassword" : joinPassword.val(),
					"joinPhoneNumber" : joinPhoneNumber.val(),
					"joinEmail" : joinEmail.val()
				};

				$.ajax({
					url: /*[[${commonUrls.JOIN_PROGRESS}]]*/ '',
					type:"POST",
					data: JSON.stringify(joinModel),
					contentType: "application/json",
					success: function(result) {
						if(result.status == "SUCCESS") {
							alert(result.message);
						}

						alert(result.message);

					},
					error: function() {
						alert("ERROR");
					}
				});

			});

			$(".joinCancel").click(function(){
				location.href = /*[[${commonUrls.ROOT_URI}]]*/ '';
			});

		});

		function progressCheckId() {

			if(joinId.val().length > 0) {
				checkId();
			} else {
				$(".checkText").remove();
			}

		}

		function checkId() {

			$(".checkText").remove();

			$.ajax({
				url: [[${commonUrls.JOIN_CHECK_ID}]],
				type: "POST",
				data: joinId.val(),
				contentType: "application/json",
				success: function(result) {
					console.log(result);
					if(result.status == "SUCCESS") {
        				$(".join-Id").after("<p class='checkText' style='color: green; margin: 0.2em 0.2em 0.2em 0.2em;'>" + result.message + "</p>");
					} else {
						$(".join-Id").after("<p class='checkText' style='color: red; margin: 0.2em 0.2em 0.2em 0.2em;'>" + result.message + "</p>");
					}

				},
				error: function() {
					alert("AJAX ERROR");
				}
				
			});

		}

		function passwordValidate() {

			var passwordValue = joinPassword.val();
			var numVal = passwordValue.search(/[0-9]/g);
			var engVal = passwordValue.search(/[a-z]/ig);
			var speVal = passwordValue.search(/[`~!@@#$%^&*|\\\'\";l\/?]/gi);

			$(".password-invalid").remove();
			
			if(passwordValue.length < 8) {
				$(".join-Password").after("<p class='password-invalid' style='color: red; margin: 0.2em 0.2em 0.2em 0.2em;'>비밀번호는 8자 이상 입력해주세요.</p>");
				return false;
			} else if(numVal < 0 || engVal < 0 || speVal < 0) {
				$(".join-Password").after("<p class='password-invalid' style='color: red; margin: 0.2em 0.2em 0.2em 0.2em;'>영문, 숫자, 특수문자를 혼합하여 입력해주세요.</p>");
				return false;
			} else {
				return true;
			}

	
		}

		$(document).on('keydown', function(event) {
			// 만약 입력된 키의 keyCode가 공백(32)인 경우 이벤트를 막음
			if (event.keyCode === 32) {
				event.preventDefault();
			}
		});


	</script>
</html>